<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 80px;">Sign Up</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="signupForm">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                            <nz-input-group nzPrefixIcon="user">
                                <input nz-input placeholder="E-mail" id="email" formControlName="email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                            <nz-input-group nzPrefixIcon="lock">
                                <input nz-input placeholder="Password" type="password" id="password"
                                    formControlName="password" />
                            </nz-input-group>
                            <ng-template #errorPass let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Is Required!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password Should Contain 8 Characters, 1 Lowercase, 1 Uppercase, 1 Number, and 1
                                    Special Character
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                            <nz-input-group nzPrefixIcon="lock">
                                <input nz-input type="password" placeholder="Confirm Password" id="checkPassword"
                                    formControlName="confirmPassword" />
                            </nz-input-group>
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please confirm your password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    Two passwords that you entered are inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-input-group nzPrefixIcon="user">
                                <input nz-input placeholder="Name" id="username" formControlName="name" />
                            </nz-input-group>
                            <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your username!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                        (click)="signup()" [disabled]="signupForm.invalid">Register</button>
                    
                    <div class="register-container">
                        <span class="or-text">Or</span>
                        <button nz-button class="register-button" (click)="onToggleForm()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </nz-spin>
</div>
